In [1]:
import yfinance as yf
from datetime import datetime, timedelta
import pandas as pd

In [52]:
import yfinance as yf
import pandas as pd

stock = "AAPL"
aapl = yf.Ticker(stock)

dividends_data = aapl.get_dividends()
dividends_df = pd.DataFrame(dividends_data)

# Index in separate Spalte "Date" umwandeln
dividends_df['Date'] = dividends_df.index.date
dividends_df['Time'] = dividends_df.index.time

# Index zurücksetzen, um "Date" als separate Spalte zu behalten
dividends_df = dividends_df.reset_index(drop=True)

# Reihenfolge der Spalten im DataFrame
dividends_df = dividends_df[['Date', 'Time', 'Dividends']]

# Anzeigen des letzten Eintrags in der Spalte "Dividends"
last_dividend = dividends_df['Dividends'].iloc[-1]
print(last_dividend)

0.24

In [46]:
print(dividends_df)

                                 Date      Time  Dividends
Date
1987-05-11 00:00:00-04:00  1987-05-11  00:00:00   0.000536
1987-08-10 00:00:00-04:00  1987-08-10  00:00:00   0.000536
1987-11-17 00:00:00-05:00  1987-11-17  00:00:00   0.000714
1988-02-12 00:00:00-05:00  1988-02-12  00:00:00   0.000714
1988-05-16 00:00:00-04:00  1988-05-16  00:00:00   0.000714
...                               ...       ...        ...
2022-11-04 00:00:00-04:00  2022-11-04  00:00:00   0.230000
2023-02-10 00:00:00-05:00  2023-02-10  00:00:00   0.230000
2023-05-12 00:00:00-04:00  2023-05-12  00:00:00   0.240000
2023-08-11 00:00:00-04:00  2023-08-11  00:00:00   0.240000
2023-11-10 00:00:00-05:00  2023-11-10  00:00:00   0.240000

[81 rows x 3 columns]

In [53]:
PE_Ratio = aapl.get('PE Ratio (TTM)', 'N/A')

AttributeError: 'Ticker' object has no attribute 'get'

                                 Date  Dividends
Date
2023-11-10 00:00:00-05:00  2023-11-10       0.24

In [8]:
import yfinance as yf
import pandas as pd
import plotly.express as px

stock_options = ['AAPL']  # Replace with your list of stock options

data = yf.download(stock_options, start='2022-01-01', end='2023-01-01')[["Open","Low"]]
data

[*********************100%%**********************]  1 of 1 completed

                  Open         Low
Date
2022-01-03  177.830002  177.710007
2022-01-04  182.630005  179.119995
2022-01-05  179.610001  174.639999
2022-01-06  172.699997  171.639999
2022-01-07  172.889999  171.029999
...                ...         ...
2022-12-23  130.919998  129.639999
2022-12-27  131.380005  128.720001
2022-12-28  129.669998  125.870003
2022-12-29  127.989998  127.730003
2022-12-30  128.410004  127.430000

[251 rows x 2 columns]